In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import os
path = os.getcwd() + '/datasets/auto-mpg.csv'
raw_data = pd.read_csv(path)
raw_data.head()

    mpg  cylinders  displacement
0  18.0          8         307.0
1  15.0          8         350.0
2  18.0          8         318.0
3  16.0          8         304.0
4  17.0          8         302.0

In [4]:
raw_data.describe()

              mpg   cylinders  displacement
count  398.000000  398.000000    398.000000
mean    23.514573    5.454774    193.425879
std      7.815984    1.701004    104.269838
min      9.000000    3.000000     68.000000
25%     17.500000    4.000000    104.250000
50%     23.000000    4.000000    148.500000
75%     29.000000    8.000000    262.000000
max     46.600000    8.000000    455.000000

In [5]:
data=(raw_data-raw_data.mean())/(raw_data.max()-raw_data.min())
data.head()

        mpg  cylinders  displacement
0 -0.146664   0.509045      0.293473
1 -0.226451   0.509045      0.404584
2 -0.146664   0.509045      0.321897
3 -0.199856   0.509045      0.285721
4 -0.173260   0.509045      0.280553

In [6]:
data.shape

(398, 3)

In [14]:
cols=data.shape[1]
print(cols)

4

In [15]:
x=data.iloc[:,0:cols-1]
y=data.iloc[:,cols-1:cols]

In [16]:
x=np.matrix(x)
y=np.matrix(y)
theta=np.matrix(np.array([0,0,0]))
x.shape, y.shape, theta.shape

((398, 3), (398, 1), (1, 3))

In [17]:
def computeError(x,y,theta):
    inner = np.power(((x*theta.T)-y),2)
    return np.sum(inner)/(2*len(x))

In [18]:
computeError(x,y,theta)

0.036205363155760804

In [19]:
Learn_rate = 1
iters = 150

In [20]:
def gradientDescent(x,y,theta,Learn_rate,iters):
    temp = np.matrix(np.zeros(theta.shape))
    parameters = int(theta.ravel().shape[1])
    cost = np.zeros(iters)
    for i in range(iters):
        error = (x*theta.T)-y
        for j in range(parameters):
            term = np.multiply(error,x[:,j])
            temp[0,j] = theta[0,j] - ((Learn_rate/len(x))*np.sum(term))
        theta=temp
        cost[i]=computeError(x,y,theta)
    return theta,cost

In [21]:
new_theta,cost=gradientDescent(x,y,theta,Learn_rate,iters)
print(new_theta,cost)

[[-5.74638048e-17 -2.30715158e-01  6.42817293e-01]] [0.02732418 0.02082892 0.01607847 0.01260397 0.01006258 0.00820357
 0.00684358 0.00584853 0.00512037 0.0045874  0.00419717 0.00391135
 0.00370189 0.00354828 0.00343552 0.00335266 0.00329166 0.00324667
 0.00321339 0.00318868 0.00317026 0.00315644 0.003146   0.00313803
 0.00313188 0.00312708 0.00312326 0.00312017 0.00311763 0.00311549
 0.00311366 0.00311205 0.00311062 0.00310933 0.00310814 0.00310703
 0.00310599 0.00310501 0.00310407 0.00310317 0.00310231 0.00310148
 0.00310068 0.00309991 0.00309915 0.00309843 0.00309772 0.00309703
 0.00309636 0.00309572 0.00309509 0.00309447 0.00309388 0.0030933
 0.00309273 0.00309219 0.00309165 0.00309113 0.00309063 0.00309014
 0.00308966 0.0030892  0.00308874 0.00308831 0.00308788 0.00308746
 0.00308706 0.00308666 0.00308628 0.00308591 0.00308555 0.00308519
 0.00308485 0.00308452 0.00308419 0.00308388 0.00308357 0.00308327
 0.00308298 0.0030827  0.00308242 0.00308216 0.0030819  0.00308164
 0.0030814  0.00308116 0.00308092 0.0030807  0.00308048 0.00308026
 0.00308005 0.00307985 0.00307965 0.00307946 0.00307928 0.00307909
 0.00307892 0.00307874 0.00307858 0.00307841 0.00307826 0.0030781
 0.00307795 0.00307781 0.00307766 0.00307753 0.00307739 0.00307726
 0.00307714 0.00307701 0.00307689 0.00307677 0.00307666 0.00307655
 0.00307644 0.00307634 0.00307624 0.00307614 0.00307604 0.00307595
 0.00307586 0.00307577 0.00307568 0.0030756  0.00307551 0.00307544
 0.00307536 0.00307528 0.00307521 0.00307514 0.00307507 0.003075
 0.00307494 0.00307487 0.00307481 0.00307475 0.00307469 0.00307464
 0.00307458 0.00307453 0.00307447 0.00307442 0.00307437 0.00307432
 0.00307428 0.00307423 0.00307419 0.00307414 0.0030741  0.00307406]

In [22]:
computeError(x,y,new_theta)

0.0030740601953068367

In [23]:
displacement = (new_theta[0,0]*x[0]) + (new_theta[0,1]*x[1]) + (new_theta[0,2]*x[2])

In [25]:
#Accuracy calculation
import math
erro_r = [np.power((b-a),2) for (a,b) in zip(displacement,y)]
error0 = np.sum(erro_r)
error1 = math.sqrt(error0)
error = (error1/len(y))*100

print("Error % = {}".format(error))
accuracy = 100 - error
print("Accuracy % = {}".format(accuracy))

Error % = 0.0918518412284505
Accuracy % = 99.90814815877155

In [26]:
def predict(new_theta):
    mpg,cylinders = input("Enter the mpg and number of cylinders").split()
    mpg = float(mpg)
    cylinders = float(cylinders)
    mpg = (mpg - raw_data.mpg.mean())/(raw_data.mpg.max() - raw_data.mpg.min())
    cylinders = (cylinders - raw_data.cylinders.mean())/(raw_data.cylinders.max() - raw_data.cylinders.min())
    
    displacement = (new_theta[0,0]) + (new_theta[0,1]*mpg) + (new_theta[0,2]*cylinders)
    
    #Reverse mean normalisation
    predicted_displacement = (displacement * (raw_data.displacement.max()-raw_data.displacement.min())) + raw_data.displacement.mean()
    return predicted_displacement

In [28]:
predicted_displacement = predict(new_theta)
print('The predicted displacement is '+ str(predicted_displacement))

Enter the mpg and number of cylinders19 7
The predicted displacement is 281.027672226757