In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
import os
path = os.getcwd() + '/datasets/student-mat.csv'
raw_data = pd.read_csv(path)
raw_data.head()

   traveltime  studytime  failures  G1
0           2          2         0   5
1           1          2         0   5
2           1          2         3   7
3           1          3         0  15
4           1          2         0   6

In [18]:
raw_data.describe()

       traveltime   studytime    failures          G1
count  395.000000  395.000000  395.000000  395.000000
mean     1.448101    2.035443    0.334177   10.908861
std      0.697505    0.839240    0.743651    3.319195
min      1.000000    1.000000    0.000000    3.000000
25%      1.000000    1.000000    0.000000    8.000000
50%      1.000000    2.000000    0.000000   11.000000
75%      2.000000    2.000000    0.000000   13.000000
max      4.000000    4.000000    3.000000   19.000000

In [20]:
data=(raw_data-raw_data.mean())/(raw_data.max()-raw_data.min())
data.head()

   traveltime  studytime  failures        G1
0    0.183966  -0.011814 -0.111392 -0.369304
1   -0.149367  -0.011814 -0.111392 -0.369304
2   -0.149367  -0.011814  0.888608 -0.244304
3   -0.149367   0.321519 -0.111392  0.255696
4   -0.149367  -0.011814 -0.111392 -0.306804

In [22]:
data.shape

(395, 4)

In [23]:
cols=data.shape[1]
print(cols)

4

In [24]:
data.insert(0,'ones',1)
data.head()

   ones  traveltime  studytime  failures        G1
0     1    0.183966  -0.011814 -0.111392 -0.369304
1     1   -0.149367  -0.011814 -0.111392 -0.369304
2     1   -0.149367  -0.011814  0.888608 -0.244304
3     1   -0.149367   0.321519 -0.111392  0.255696
4     1   -0.149367  -0.011814 -0.111392 -0.306804

In [25]:
cols=data.shape[1]
print(cols)

5

In [26]:
x=data.iloc[:,0:cols-1]
y=data.iloc[:,cols-1:cols]

In [29]:
x=np.matrix(x)
y=np.matrix(y)
theta=np.matrix(np.array([0,0,0,0]))
x.shape, y.shape, theta.shape

((395, 4), (395, 1), (1, 4))

In [30]:
def computeError(x,y,theta):
    inner = np.power(((x*theta.T)-y),2)
    return np.sum(inner)/(2*len(x))

In [31]:
computeError(x,y,theta)

0.02146320701810607

In [32]:
Learn_rate = 1
iters = 150

In [33]:
def gradientDescent(x,y,theta,Learn_rate,iters):
    temp = np.matrix(np.zeros(theta.shape))
    parameters = int(theta.ravel().shape[1])
    cost = np.zeros(iters)
    for i in range(iters):
        error = (x*theta.T)-y
        for j in range(parameters):
            term = np.multiply(error,x[:,j])
            temp[0,j] = theta[0,j] - ((Learn_rate/len(x))*np.sum(term))
        theta=temp
        cost[i]=computeError(x,y,theta)
    return theta,cost

In [34]:
new_theta,cost=gradientDescent(x,y,theta,Learn_rate,iters)
print(new_theta,cost)

[[ 3.37282944e-17 -4.68473159e-02  7.23407436e-02 -2.78597677e-01]] [0.02104248 0.0206837  0.02037744 0.02011573 0.01989187 0.01970018
 0.01953585 0.01939483 0.01927367 0.01916945 0.01907972 0.01900236
 0.01893559 0.0188779  0.018828   0.01878478 0.01874731 0.01871478
 0.01868652 0.01866193 0.01864052 0.01862185 0.01860556 0.01859133
 0.01857888 0.01856799 0.01855844 0.01855007 0.01854272 0.01853627
 0.01853059 0.0185256  0.0185212  0.01851732 0.0185139  0.01851088
 0.01850822 0.01850586 0.01850378 0.01850194 0.0185003  0.01849886
 0.01849758 0.01849644 0.01849543 0.01849454 0.01849375 0.01849304
 0.01849241 0.01849186 0.01849136 0.01849092 0.01849053 0.01849018
 0.01848987 0.0184896  0.01848935 0.01848913 0.01848894 0.01848876
 0.01848861 0.01848847 0.01848835 0.01848824 0.01848814 0.01848805
 0.01848797 0.0184879  0.01848784 0.01848779 0.01848774 0.01848769
 0.01848765 0.01848762 0.01848759 0.01848756 0.01848753 0.01848751
 0.01848749 0.01848747 0.01848746 0.01848744 0.01848743 0.01848742
 0.01848741 0.0184874  0.01848739 0.01848738 0.01848738 0.01848737
 0.01848737 0.01848736 0.01848736 0.01848735 0.01848735 0.01848735
 0.01848735 0.01848734 0.01848734 0.01848734 0.01848734 0.01848734
 0.01848733 0.01848733 0.01848733 0.01848733 0.01848733 0.01848733
 0.01848733 0.01848733 0.01848733 0.01848733 0.01848733 0.01848733
 0.01848733 0.01848733 0.01848733 0.01848733 0.01848733 0.01848733
 0.01848733 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732
 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732
 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732
 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732
 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732 0.01848732]

In [35]:
computeError(x,y,new_theta)

0.018487323646479686

In [37]:
grade = (new_theta[0,0]*x[0]) + (new_theta[0,1]*x[1]) + (new_theta[0,2]*x[2]) + (new_theta[0,3]*x[3])

In [39]:
#Accuracy calculation
import math
erro_r = [np.power((b-a),2) for (a,b) in zip(grade,y)]
error0 = np.sum(erro_r)
error1 = math.sqrt(error0)
error = (error1/len(y))*100

print("Error % = {}".format(error))
accuracy = 100 - error
print("Accuracy % = {}".format(accuracy))

Error % = 0.17504430230972678
Accuracy % = 99.82495569769027

In [48]:
def predict(new_theta):
    traveltime,studytime,failures = input("Enter the travel time, study time and failures").split()
    traveltime = float(traveltime)
    studytime = float(studytime)
    failures = float(failures)
    traveltime = (traveltime - raw_data.traveltime.mean())/(raw_data.traveltime.max() - raw_data.traveltime.min())
    studytime = (studytime - raw_data.studytime.mean())/(raw_data.studytime.max() - raw_data.studytime.min())
    failures = (failures - raw_data.failures.mean())/(raw_data.failures.max() - raw_data.failures.min())
    
    scaledgrade = (new_theta[0,0]) + (new_theta[0,1]*traveltime) + (new_theta[0,2]*studytime) + (new_theta[0,3]*failures)
    
    #Reverse mean normalisation
    predictedgrade = (scaledgrade * (raw_data.G1.max()-raw_data.G1.min())) + raw_data.G1.mean()
    return predictedgrade

In [49]:
predictedgrade = predict(new_theta)
print('Your predicted grade is '+ str(predictedgrade))

Enter the travel time, study time and failures3 4 1
Your predicted grade is 10.28975963789215